<!DOCTYPE html>
<html>
<head>
	<title>Pritesh Sankhe | About</title>
	<link rel="shortcut icon" href="../images/favicon.ico" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/aboutstyles.css" />
	<script type="text/javascript">
	</script>
</head>
<body>
	<div class="container-fluid">
		<div class="p-container-narrow">
			<h1 class="p-title">Pritesh Sankhe</h1>
			<u1 class="nav nav-pills">
				<li class = "p-green-pill">
					<a href="#">about</a>
				</li>
				<li class = "p-red-pill">
					<a href="../index.html">projects</a>
				</li>
				<li class="p-blue-pill dropdown active">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">more
						<b class="caret">
						</b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="mailto:sankherpritesh@gmail.com" target="_blank">Email</a>
						</li>
						<li>
							<a href="https://twitter.com/priteshsankhe" target="_blank">Twitter</a>
						</li>
						<li>
							<a href="https://www.facebook.com/sankhe.pritesh" target="_blank">Facebook</a>
						</li>
						<li>
							<a href="https://github.com/droidx" target="_blank">Github</a>
						</li>
						<li>
							<a href="https://in.linkedin.com/pub/pritesh-sankhe/22/8b2/b6a" target="_blank">Linkedin</a>
						</li>
						<li>
							<a href="../resume.pdf" target="_blank">Resume</a>
						</li>
					</ul>
				</li>
			</u1>
			<hr>
			<div data-js="main-content">
				<div class = "p-profile-picture hidden-xs">&nbsp;</div>
				<div class="p-profile-picture  visible-xs"></div>
				<div class = "p-large-font p-blurb">I graduated from IIT Gandhinagar in 2013 with major in Electrical Engineering and minors in Computer Science.
					<br>
					<br>
					My interests are Mobile and Web Development, Machine Learning and Embedded Systems. I'm very passionate about building Android apps. 
					<br>
					During IIT, I interned at <a href="http://www.biosense.in/" target="_blank">Biosense</a> (Mumbai startup) and <a href="http://csn.caltech.edu/" target="_blank">Caltech</a> (USA). Post IIT, I have worked at Ricoh Innovations (Bangalore), Morgan Stanley (Mumbai) and co-founded <a href="http://getlumos.co" target="_blank">Lumos</a> (Ahmedabad).
				</div>
			</div>
		</div>
	</div>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62592359-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>