body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial;
  background-color: #f8f8f8;
}

a{
  text-decoration: none;
}

li{
  display: inline;
  list-style: none;
}

.container{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 50px;

}

img {
 
}